[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./env/*,
       ./app/settings/*,
       ./app/manage.py,
       ./app/wsgi.py,
       *__init__*
[html]
directory = coverage

[report]
skip_covered = True