{% extends "layouts/base_email.html" %}
{% load account i18n %}
{% user_display user as user_display %}

{% block title %}
    {% trans "Restaurar Contraseña" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block main_title %}Restaurar Contraseña{% endblock %}

        {% block main_body %}
            <p>
            {% blocktrans %}
                Te enviamos este correo porque solicitaste restaurar la contraseña de esta cuenta en el
                sitio <b><a href="{{ site_domain }}">{{ site_domain }}</a></b><br>
                Si quieres restaurar tu contraseña debes hacer click en el boton de abajo, de lo contrario
                simplemente ignora este correo.
            {% endblocktrans %}
            </p>
        {% endblock %}

        {% block main_action %}
            <a target="_blank" href="{{ password_reset_url }}" class="button button--">
                {% trans "Restaurar Contraseña" %}
            </a>
        {% endblock %}

        {% block extra_link %}
            <a href="{{ password_reset_url }}" class="sub">{{ password_reset_url }}</a>
        {% endblock %}

    {% endwith %}
{% endautoescape %}