@import "compass/css3";


/* ~ CORE
---------------------------------*/
@import "core/fonts";
@import "core/colors";
@import "core/mixins";

@import "partials/components";
@import "core/overrides";

.error.block {
  width: 500px !important;
  @include centered-block;
  .error.item {
    .code {
      font-size: 80px;
      line-height: 80px;
    }
    .header {
      margin-bottom:0;
    }
  }
}
