{% extends "emails/base_email.html" %}

{% load i18n %}


{% block title %}
    {% trans "Welcome !" %}
{% endblock %}

{% block main_title %} {% trans "Welcome, " %} {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block main_body %}
    <span>
        {% trans "You account has been activated, enjoy our services." %}
    </span>
 {% endblock %}

{% block main_link %}
    <a target="_blank" href="/" class="btn">{% trans "GO TO PAGE" %}</a>
{% endblock %}

{% block main_note %}
{% endblock %}



