{% extends "emails/base_email.html" %}

{% load i18n %}


{% block title %}
    {% trans "Account Activation" %}
{% endblock %}

{% block main_title %} {% trans "Hi, " %} {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block main_body %}
    <span>
        {% trans "Thank you for registering to " %}
        <i><b>BitWarp</b></i>,
        {% trans "please activate your account by clicking the button." %}
    </span>
 {% endblock %}

{% block main_link %}
    <a target="_blank" href="{{ host }}{{ token }}" class="btn">{% trans "ACTIVATE ACCOUNT" %}</a>
{% endblock %}

{% block main_note %}
    <b>{% trans "NOTE:" %}</b>
    {% trans "This link can only be used once." %}
{% endblock %}



