{% extends "emails/base_email.html" %}

{% load i18n %}


{% block title %}
    {% trans "Reset Password!" %}
{% endblock %}

{% block main_title %} {% trans "Hi, " %} {{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block main_body %}
    <span>
        {% trans "Do you wish reset your password?" %} <br>
        {% trans "If this is correct please by clicking the button." %}
    </span>
 {% endblock %}

{% block main_link %}
    <a target="_blank" href="{{ host }}{{ token }}" class="btn">{% trans "RESET PASSWORD" %}</a>
{% endblock %}

{% block main_note %}
    <b>{% trans "NOTE:" %}</b>
    {% trans "This link can only be used once." %}
{% endblock %}



