{% load i18n static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title> {% block title %}{% endblock %} | {{ project_name }}</title>

        {% include 'partials/meta-section.html' %}
        {% include 'partials/styles-include.html' %}
        <link rel="stylesheet" href="{% static 'css/error.css' %}" />

    </head>
    <body>

        <!-- APP WRAPPER -->
        <div class="app app-fh">

            <!-- START APP CONTAINER -->
            <div class="app-container" style="background: url({% static 'assets/images/background/bg-1.jpg' %}) center center no-repeat fixed;">

                <div class="app-lock">
                    {% block container %}
                    {% endblock %}
                </div>
            </div>
            <!-- END APP CONTAINER -->

        </div>
        <!-- END APP WRAPPER -->

        {% include 'partials/scripts-important-include.html' %}
        {% include 'partials/scripts-app-include.html' %}
        {% if not DEBUG %}
            {% include "partials/analytics.html" %}
        {% endif %}

    </body>
</html>






