{% extends "errors/base.html" %}
{% load static i18n %}
{% block title %}
    500
{% endblock %}
{% block container %}

    <div class="ui one column stackeable centered grid error block">
        <div class="column">
            <div class="ui items">
                <div class="error item">
                    <div class="ui small image">
                        <span class="code">500</span>
                    </div>
                    <div class="middle aligned content">
                        <div class="header">
                            <h2 class="ui center aligned icon header">
                                {% trans 'INTERNAL SERVER ERROR' %}
                            </h2>
                        </div>
                        <div class="description">
                            <p>{% trans 'An error has occurred on the server, please contact with the' %}
                                <a href="mailto://jvacx.log@gmail.com">@admin</a>
                            </p>
                        </div>
                        <div class="extra">
                            <a href="{% url 'home' %}" class="ui right floated turquoise button">
                                {% trans 'Go to Home' %}&nbsp;
                                <i class="right arrow icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}