{% extends "layouts/base_error.html" %}
{% load static %}
{% block container %}
<div class="container">
    <div class="error">
        <div class="logo">
            <img src="{% static 'img/logos/logo.png' %}" alt="Logo">
        </div>
        <div class="message">
            <img src="{% static 'img/errors/offline.png' %}" class="image-error-offline">
            <div class="description">
                <h2>Error de conexión</h2>
                <h4>Hay problemas con tu conexión a internet.</h4>
            </div>
        </div>
    </div>
    <div class="to-home">
        <a href="http://www.oepbolivia.xyz/"><i class="fa fa-arrow-left"></i> Volver</a>
    </div>
</div>
{% endblock %}