@import 'autumn';
@import 'borland';
@import 'bw';
@import 'colorful';
@import 'default';
@import 'emacs';
@import 'friendly';
@import 'fruity';
@import 'github';
@import 'manni';
@import 'monokai';
@import 'murphy';
@import 'native';
@import 'pastie';
@import 'perldoc';
@import 'tango';
@import 'trac';
@import 'vim';
@import 'vs';
@import 'zenburn';

.codehilite {
  padding: 10px 15px;
  @include border-radius(10px);
}