{% extends "layouts/base_email.html" %}
{% load i18n %}

{% block title %}
    {% trans "Contraseña Cambiada" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block main_title %}Contraseña Cambiada{% endblock %}

        {% block main_body %}
            <p>
                Cambiaste tu contraseña con exito!
            </p>
        {% endblock %}
        
        {% block extra_info %} {% endblock %}
        {% block action %}{% endblock %}
        {% block extra_email %} {% endblock %}
        

    {% endwith %}
{% endautoescape %}






