{% extends "layouts/base_email.html" %}
{% load i18n %}

{% block title %}
    {% trans "Actualizar Correo" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block main_title %}Actualizar Correo!{% endblock %}

        {% block main_body %}
            <p>
                Cambias te tu correo, por motivos de seguridad, para completar esta acción dale click al
                botón de abajo, de lo contrario simplemente ignora este correo.
            </p>
        {% endblock %}

        {% block extra_info %}{% endblock %}


        {% block main_action %}
            <a target="_blank" href="{{ action_url }}" class="button button--">
                {% trans "ACTUALIZAR CORREO" %}
            </a>
        {% endblock %}

        {% block extra_link %}
            <a href="{{ action_url }}" class="sub">{{ action_url }}</a>
        {% endblock %}

    {% endwith %}
{% endautoescape %}

