{% extends 'layouts/base_sign.html' %}

{% load i18n static %}

{% block title %}{% trans 'Reset password' %}{% endblock %}


{% block container %}
<div class="ui text container">
    <div class="ui one column grid">
        <div class="column">
            {% if valid %}
                <form class="ui card confirmation box form {% if has_error %}error{% endif %}" action="." method="POST">
                    {% csrf_token %}
                    <div class="image">
                        <img src="{% static 'img/holder.png' %}">
                    </div>
                    <div class="content">
                        <div class="header">
                            {% trans 'Reset password' %}
                        </div>
                        <div class="description">
                            {% if has_error %}
                                <div class="ui error message">
                                    {{ message }}
                                </div>
                            {% endif %}
                            <div class="field">
                                <label for="password1">{% trans 'Password' %}</label>
                                <input id="password1" name="password1" type="password">
                            </div>
                            <div class="field">
                                <label for="password2">{% trans 'Confirm password' %}</label>
                                <input id="password2" name="password2" type="password">
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a href="/" class="ui green button">
                                <i class="checkmark icon"></i> {% trans 'Go to home' %}
                            </a>
                            <button class="ui blue button">
                                <i class="home icon"></i> {% trans 'Change Password' %}
                            </button>
                        </div>
                    </div>
                </form>
            {%  else %}
                <form class="ui card confirmation box {% if has_error %}error{% endif %} form" action="." method="POST">
                    {% csrf_token %}
                    <div class="image">
                        <img src="{% static 'img/holder.png' %}">
                    </div>
                    <div class="content">
                        <div class="header">
                            {% trans 'Reset password' %}
                        </div>
                        <div class="description">
                            <div class="ui error message">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                    <a href="/" class="ui large bottom attached blue button">
                        <i class="home icon"></i>
                        {% trans 'Go to home' %}
                    </a>
                </form>

            {%  endif %}
        </div>
    </div>
</div>
{% endblock %}



