{% extends "blog/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block menu %}
    {% include 'blog/partials/header.html' with blog=blog_page active="posts"%}
{% endblock %}

{% block content %}
    <div class="header-image">
        <img src="{% static 'img/code.jpg' %}">
    </div>

    {% include 'blog/partials/posts.html' with blog=blog_page %}

    {% categories_list %}
{% endblock %}