{% extends "blog/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block menu %}
    {% include 'blog/partials/header.html' with blog=blog_page active="contact"%}
{% endblock %}

{% block content %}
    <div class="header-image">
        <img src="{% static 'img/code.jpg' %}">
    </div>
    <section id="four">
        <div class="container">
            <h3>{% trans 'Contact Me' %}</h3>
            <p>{% trans 'Hello! My name is Victor vic for the friends, I am a fullstack developer and technology enthusiast, if there is anything I can help you please write me' %}</p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="row uniform ">

                    <div class="6u 12u(xsmall)">
                        <input type="text" name="name" id="id_name" placeholder="{% trans 'Name' %}" class="form-field {% if form.name.errors %}error{% endif %}"/>
                        {{ form.name.errors }}
                    </div>
                    <div class="6u 12u(xsmall)">
                        <input type="email" name="email" id="id_email" placeholder="{% trans 'Email' %}" class="form-field {% if form.name.errors %}error{% endif %}"/>
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <input type="text" name="subject" id="id_subject" placeholder="{% trans 'Subject' %}" class="form-field {% if form.name.errors %}error{% endif %}"/>
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <textarea name="message" id="id_message" placeholder="{% trans 'Message' %}" rows="6" class="form-field {% if form.name.errors %}error{% endif %}"></textarea>
                        {{ form.name.errors }}
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit" class="button special" value="{% trans 'Send Message' %}" /></li>
                            <li><input type="reset" value="{% trans 'Reset Form' %}" /></li>
                        </ul>
                    </div>
                </div>
            </form>


            <br>
            <hr>
            <br><br>

{#            <form action="" method="post">{% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <input type="submit" value="Send message" />#}
{#            </form>#}
        </div>
    </section>
{% endblock %}