{% extends "blog/base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block menu %}
    {% include 'blog/partials/header.html' with blog=blog_page active="posts"%}
{% endblock %}

{% block content %}

    <div class="header-image">
        {% if self.header_image and self.show_header %}
            {% image self.header_image fill-900x220 as header_image %}
            <img alt="{{ self.header_image.title }}" src="{{ header_image.url }}">
        {% else %}
            <img src="{% static 'img/code.jpg' %}">
        {% endif %}
    </div>


    <div class="container detail">

        <header>

            {% include "blog/partials/author.html" with entry=self mode='detail' %}

            <h2 class="title">
                {{ self.title }}
            </h2>
            <span class="date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ self.date|date:"DATE_FORMAT" }} </span>

        </header>

        <article>
            {{ self.body|richtext}}
        </article>

        <div class="groups">
            {% if self.tags.count > 0 %}
                {% tags_list blog_page.num_tags_entry_header entry.tags %}
            {% endif %}
            <div style="clear: both"><br></div>
        </div>


    </div>

{% endblock %}