{% extends "blog/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block menu %}
    {% include 'blog/partials/header.html' with blog=blog_page active="about"%}
{% endblock %}

{% block content %}
    <div class="header-image">
        <img src="{% static 'img/code.jpg' %}">
    </div>
    <section>
        <div class="container">
            <h3 class="title">{% trans 'About Me' %}</h3>
            <p>Hola mi nombre es Victor Aguilar, tambien conocido como @jvacx, soy desarrollador web y movil con tres años de experiencia
                me encanta la tecnología, crear y experimentar son de las cosas que mas disfruto.</p>
            <h3 class="title">{% trans 'Projects' %}</h3>
            <p>A lo largo de estos años tuve la fortuna de liderar y participar de varios proyectos interesantes</p>

            {% project_list %}

            <br>
            <h3 class="title">{% trans 'Comunities' %}</h3>
            <p>Soy firme creyente de que la única manera de aportar un valor real es compartiendo lo aprendido y que mejor forma de hacer que a
            traves de las comunidades</p>

            {% speech_list %}

        </div>
    </section>

{% endblock %}