{% extends 'layouts/base_sign.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Cambiar Contraseña' %}
{% endblock %}

{% block container %}

    <div class="app-login-box-title padding-top-40">
        <div class="title">
            {% if token_fail %}{% trans "Enlace Incorrecto" %}{% else %}{% trans "Cambiar Contraseña" %}{% endif %}
        </div>
    </div>

    <div class="app-login-box-container">
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}

            <p>
                {% blocktrans %}
                    El enlace de restauración es <b>inválido</b> posiblemente porque ya ha sido utilizado.
                    Porfavor intenta <a href="{{ passwd_reset_url }}"><b>Restaurar tu contraseña</b></a> nuevamente.
                {% endblocktrans %}
            </p>
            <p></p>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">{% trans 'Iniciar Sesión' %}</a>

        {% else %}
            {% if form %}
                <p>
                    {% blocktrans %}
                        Escribe tu nueva contraseña.
                    {% endblocktrans %}
                </p>
                <form method="POST" action=".">
                    {% csrf_token %}

                    <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="password" class="form-control" id="id_password1"
                                   name="password1" placeholder="{% trans 'Contraseña' %}"
                                   value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" >
                        </div>
                        {% if form.password1.errors %}
                            <span class="help-block">
                                {% for error in form.password1.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input type="password" class="form-control" id="id_password2"
                               name="password2" placeholder="{% trans 'Confirmar tu Contraseña' %}"
                               value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
                        </div>
                        {% if form.password2.errors %}
                            <span class="help-block">
                                {% for error in form.password2.errors %}
                                    <span>{{ error|escape }}</span>
                                {% endfor %}
                            </span>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <button class="btn btn-success btn-block" type="submit">{% trans 'Cambiar Contraseña' %}</button>
                    </div>

                </form>
            {% else %}
                <p>{% trans 'Tu contraseña ha sido cambiada.' %}</p>

                <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">{% trans 'Iniciar Sesión' %}</a>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}


