{% extends 'layouts/base_sign.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Confirmarción de cuenta' %}
{% endblock %}

{% block container %}

    <div class="app-login-box-title padding-top-40">
        <div class="title">{% trans 'Restaurar Contraseña' %}</div>
    </div>

    <div class="app-login-box-container">
        {% if user.is_authenticated %}
            <p>
                {% trans 'Has iniciado sesión como' %}
                <span class="label label-info">{{ user.username }}</span>
                {% trans 'ir al' %} <b><a href="{% url 'landing' %}">inicio</a></b>

            </p>
        {% endif %}
        <p>
            {% blocktrans %}
                Te hemos enviado un <b>Correo de confirmación</b> con un enlace
                donde podrás finalizar el proceso de restauración. Escríbenos a
                <a href="mailto://admin@warpp.xyz"><b>admin@warpp.xyz</b></a> en
                caso de que no lo hayas recibido.
            {% endblocktrans %}
        </p>
    </div>

    <div class="app-login-box-container">
        <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">{% trans 'Iniciar Sesión' %}</a>
    </div>

{% endblock %}