production:
    superuser: anything
    password: anything
    mysql_user: anything
    mysql_password: anything

develop:
    superuser: anything
    password: anything
    mysql_user: anything
    mysql_password: anything

test:
    superuser: anything
    password: anything
    mysql_user: anything
    mysql_password: anything