production:
    project: anything
    domain: anything
    urls: anything
    docs: anything
    team: anything
    user: anything
    password: anything
    ip_address: anything
    ssh_port: 22
    branch: master
    enginedb: postgresql
    home_path: /webapps

develop:
    project: anything
    domain: anything
    urls: anything
    docs: anything
    team: anything
    user: anything
    password: anything
    ip_address: anything
    ssh_port: 22
    branch: master
    enginedb: postgresql
    home_path: /webapps

test:
    project: anything
    domain: anything
    urls: anything
    docs: anything
    team: anything
    user: anything
    password: anything
    ip_address: anything
    ssh_port: 22
    branch: master
    enginedb: postgresql
    home_path: /webapps
