{% extends "layouts/base_email.html" %}
{% load i18n %}

{% block title %}
    {% trans "Bienvenida" %}
{% endblock %}


{% autoescape off %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        {% block main_title %}Bienvenido {{ user }}!{% endblock %}

        {% block main_body %}
            <p>
                Nos da gusto tenerte con nosotros, disfruta de nuestros servicios.
            </p>
        {% endblock %}

        {% block extra_info %}{% endblock %}


        {% block main_action %}
            <a target="_blank" href="{{ action_url }}" class="button button--">
                {% trans "ir a la página de Inicio" %}
            </a>
        {% endblock %}

        {% block sub_content %}{% endblock %}

    {% endwith %}
{% endautoescape %}







