{% extends 'layouts/base.html' %}
{% load i18n static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
{% endblock %}


{% block container %}


<div class="ui text container">
    <div class="ui one column grid">
        <div class="column">
            <div class="ui card confirmation box">
                <div class="image">
                    <img src="{% static 'img/holder.png' %}">
                </div>
                <div class="content">
                    <div class="header">
                        {{ title }}
                    </div>
                    <div class="description">
                        <div class="ui {% if error %}error{% else %}info{% endif %} message">
                            {{ message }}
                        </div>
                    </div>
                </div>
                <a href="/" class="ui large bottom attached blue button">
                    <i class="home icon"></i>
                    {% trans 'Go to home' %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

