<!-- START PAGE HEADING -->
<div class="app-heading app-heading-bordered app-heading-page">
    <div class="title">
        <h1>Fixed Navigation</h1>
        <p>Layout with fixed navigation</p>
    </div>

    {% include 'partials/heading-elements.html' %}
</div>

<div class="app-heading-container app-heading-bordered bottom">
    <ul class="breadcrumb">
        <li><a href="#">Application</a></li>
        <li><a href="#">Layout Examples</a></li>
        <li class="active">Fixed Navigation</li>
    </ul>
</div>
<!-- END PAGE HEADING -->