@charset "UTF-8";

@import "compass/css3";

@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';

@import url('font-awesome.min.css');



@import "libs/skel";



@include skel-breakpoints((
    xlarge: '(max-width: 1680px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 1024px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)'
));

@include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: ( gutters: 2em ),
    conditionals: true,
    containers: 45em,
    breakpoints: (
        large: (
            containers: 42em,
            grid: (
                gutters: 1.5em
            )
        ),
        medium: (
            containers: (85%, true),
        ),
        small: (
            containers: (90%, true),
            grid: (
                gutters: 1.25em
            )
        )
    )
));


@import "components/pagination";
@import "components/posts";
@import "components/fonts";
@import "components/common";
@import "components/form";
@import "components/icon";
@import "components/box";
@import "components/image";
@import "components/lists";
@import "components/table";
@import "components/header";
@import "components/header";
@import "components/footer";
@import "components/button";
@import "components/images";

@import "media/xlarge";
@import "media/large";
@import "media/medium";
@import "media/small";
@import "media/xsmall";

@import "pluggins/owl-carousel";
@import "pluggins/slider";
@import "pluggins/jssocials";


@import "pygments/themes";

