/* ~ CORE
---------------------------------*/
@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@-ms-viewport {
  width: device-width;
}
/* line 2, ../scss/partials/_components.scss */
.ui .confirmation.box {
  width: 100%;
  margin-top: 15px;
}
/* line 6, ../scss/partials/_components.scss */
.ui .confirmation.form label {
  color: #bdc3c7;
}

/* line 4, ../scss/core/_overrides.scss */
.ui.turquoise.button {
  color: #ffffff;
  text-shadow: none;
  background: #1abc9c none;
}

/* line 9, ../scss/core/_overrides.scss */
.ui.turquoise.button {
  box-shadow: 0 0 0 0 rgba(26, 188, 156, 0.15) inset;
}

/* line 13, ../scss/core/_overrides.scss */
.ui.turquoise.button:hover {
  background-color: #16a085;
  color: #ffffff;
  text-shadow: none;
}

/* line 20, ../scss/core/_overrides.scss */
.ui.inverted.segment, .ui.primary.inverted.segment {
  background: url("../img/coding.png");
  color: #ffffff;
}

/* line 14, ../scss/home.scss */
.hidden.menu {
  display: none;
}

/* line 18, ../scss/home.scss */
.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}

/* line 23, ../scss/home.scss */
.masthead .logo.item img {
  margin-right: 1em;
}

/* line 27, ../scss/home.scss */
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

/* line 31, ../scss/home.scss */
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0;
  font-size: 4em;
  font-weight: normal;
}

/* line 38, ../scss/home.scss */
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/* line 43, ../scss/home.scss */
.ui.vertical.stripe {
  padding: 8em 0;
}

/* line 47, ../scss/home.scss */
.ui.vertical.stripe h3 {
  font-size: 2em;
}

/* line 50, ../scss/home.scss */
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

/* line 55, ../scss/home.scss */
.ui.vertical.stripe .floated.image {
  clear: both;
}

/* line 59, ../scss/home.scss */
.ui.vertical.stripe p {
  font-size: 1.33em;
}

/* line 63, ../scss/home.scss */
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

/* line 67, ../scss/home.scss */
.quote.stripe.segment {
  padding: 0;
}

/* line 71, ../scss/home.scss */
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

/* line 76, ../scss/home.scss */
.footer.segment {
  padding: 5em 0;
}

/* line 80, ../scss/home.scss */
.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  /* line 86, ../scss/home.scss */
  .ui.fixed.menu {
    display: none !important;
  }

  /* line 89, ../scss/home.scss */
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }

  /* line 94, ../scss/home.scss */
  .secondary.pointing.menu .toc.item {
    display: block;
  }

  /* line 98, ../scss/home.scss */
  .masthead.segment {
    min-height: 350px;
  }

  /* line 102, ../scss/home.scss */
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }

  /* line 107, ../scss/home.scss */
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
