{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}


{% with per_page=blog.num_entries_page %}
    <section id="three">
        <div class="container">

            <div class="posts">
                {% paginate per_page entries %}

                {% for entry in entries %}

                    {% include 'blog/partials/entry.html' with entry=entry %}

                    {% if forloop.counter < entries|length %}
                        <hr class="line">
                    {% endif %}

                {% empty %}
                    <div>
                        <h4 class="title">
                            {% trans 'Ho hay resultados.' %}
                        </h4><br>
                    </div>
                {% endfor %}

                {% get_pages %}


                {% include 'blog/partials/pagination.html' with pages=pages %}

{#                {% include 'blog/sections/concepts.html' %}#}

            </div>
        </div>
    </section>
{% endwith %}
