{% extends "blog/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags blog_tags %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block menu %}
    {% include 'blog/partials/header.html' with blog=blog_page active="about"%}
{% endblock %}

{% block content %}
    <div class="header-image">
        <img src="{% static 'img/code.jpg' %}">
    </div>
    <section>
        <div class="container">
            <h3 class="title">{% trans 'Acerca de mí' %}</h3>
            <p>
                {% trans 'Hola! mi nombre es Victor Aguilar @jvacx, soy desarrollador web y móvil con tres años de experiencia me encanta la tecnología, crear y experimentar son de las cosas que mas disfruto.' %}
            </p>

            <h3 class="title">{% trans 'Proyectos' %}</h3>
            <p>
                {% trans 'A lo largo de estos años tuve la fortuna de liderar y participar en varios proyectos interesantes, aqui algunos de ellos.' %}
            </p>
            {% project_list %}
            <br>
            <h3 class="title">{% trans 'Comunidades' %}</h3>

            <p>
                {% trans 'Soy firme creyente de que la única manera de aportar un valor real es compartiendo lo aprendido y que mejor forma de hacerlo que a traves de las comunidades de tecnología.' %}
            </p>

            {% speech_list %}

        </div>
    </section>

{% endblock %}