


$darken: #2e2e2e;
$lighten: #efefef;

$green-100: #C8E6C9;
$lime-100: #F0F4C3;
$teal-100: #B2DFDB;
$red-100: #ffcdd2;
$pink-100: #F8BBD0;
$indigo-100: #C5CAE9;
$blue-100: #BBDEFB;
$amber-100: #FFECB3;
$orange-100: #FFE0B2;
$orange-deep-100: #FFCCBC;
$brown-100: #D7CCC8;
$grey-100: #F5F5F5;
$blue-grey-100: #CFD8DC;
$yellow-100: #FFF9C4;
$purple-100: #E1BEE7;
$deep-purple-100: #D1C4E9;


$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$turquoise: #1abc9c;
$green-sea: #16a085;
$peter-river: #3498db;
$belize-hole: #2980b9;
$sun-flower: #f1c40f;
$orange: #f39c12;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
