{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Site Properties -->

        <title>{% block title %}Home{% endblock %} | Warpp</title>
        <meta name="description" content="{{ website_description }}" />
        <meta name="author" content="{{ website_author }}" />

        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'ico/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'ico/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'ico/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'ico/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'ico/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'ico/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'ico/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'ico/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ico/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'ico/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ico/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'ico/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ico/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'ico/manifest.json' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    </head>
    <body>
        <!-- Following Menu -->
        <div class="ui large top fixed hidden menu">
            <div class="ui container">
                <a href="/" class="active item">{% trans 'Home' %}</a>
                <a href="/#features" class="item">{% trans 'Features' %}</a>
                <a href="/docs" class="item">{% trans 'Documentation' %}</a>
                <div class="right menu">
                    <div class="item">
                        <a href="/admin" class="ui button">{% trans 'Sign In' %}</a>
                    </div>
{#                    <div class="item">#}
{#                        <a class="ui primary button">Sign Up</a>#}
{#                    </div>#}
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu">
            <a href="/" class="active item">{% trans 'Home' %}</a>
            <a href="/#features" class="item">{% trans 'Features' %}</a>
            <a href="/docs" class="item">{% trans 'Documentation' %}</a>
            <a href="/admin" class="ui button">{% trans 'Sign In' %}</a>
        </div>

        <!-- Page Contents -->
        <div class="pusher">

            <div class="ui inverted vertical masthead center aligned segment">

                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a href="/" class="active item">{% trans 'Home' %}</a>
                        <a href="/#features" class="item">{% trans 'Features' %}</a>
                        <a href="/docs" class="item">{% trans 'Documentation' %}</a>
                        <div class="right item">
                            <a href="/admin" class="ui inverted button">{% trans 'Sign In' %}</a>
                        </div>
                    </div>
                </div>
                <div class="ui text container">
                    <h1 class="ui inverted header">
                        <img src="{% static 'img/logob.png' %}" alt="">
                    </h1>
                    <h3>{% trans 'it\'s time to dream' %}</h3>
                    <br>
                    <a href="http://docs.warpp.xyz" class="ui huge turquoise button">
                        Get Started <i class="right arrow icon"></i>
                    </a>
                </div>
            </div>

            <div class="ui vertical stripe segment">
                <a class="anchor" id="features"></a>
                <div class="ui sixteen column stackable centered grid">
                    <div class="five column centered row">
                        <div class="column">
                            <h2 class="ui icon header">
                                <i class="mail icon"></i><br>
                                <div class="content">
                                    {% trans 'Email transactions' %}
                                    <div class="sub header">
                                        {% trans 'All operations of confirmation have email transactions, to mobile or web development.' %}
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div class="column">
                            <h2 class="ui icon header">
                                <i class="cubes icon"></i><br>
                                <div class="content">
                                    {% trans '12 Factor based' %}
                                    <div class="sub header">
                                        {% trans '12-Factor app, is applied in whole django project and configurations.' %}
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div class="column">
                            <h2 class="ui icon header">
                                <i class="file icon"></i><br>
                                <div class="content">
                                    {% trans 'Documentation' %}
                                    <div class="sub header">
                                        {% trans 'Documentation for API Rest and for project has been generated by Mkdoc and swagger.' %}
                                    </div>
                                </div>
                            </h2>
                        </div><div class="column">
                            <h2 class="ui icon header">
                                <i class="settings icon"></i><br>
                                <div class="content">
                                    {% trans 'Docker & vagrant' %}
                                    <div class="sub header">
                                        {% trans 'Warpp supports docker and vagrant builds to development and production.' %}
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui inverted vertical footer segment">
                <div class="ui container">
                    <div class="ui stackable inverted divided equal height stackable grid">
                        <div class="three wide column">
                            <h4 class="ui inverted header">{% trans 'About' %}</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">{% trans 'Site map' %}</a>
                                <a href="#" class="item">{% trans 'Contact Us' %}</a>
                            </div>
                        </div>
                        <div class="three wide column">
                            <h4 class="ui inverted header">{% trans 'Services' %}</h4>
                            <div class="ui inverted link list">
                                <a href="#" class="item">{% trans 'Development' %}</a>
                                <a href="#" class="item">{% trans 'Marketing' %}</a>
                            </div>
                        </div>
                        <div class="seven wide column">
                            <h4 class="ui inverted header">WARPP </h4>
                            <p>{% trans 'Is a template that Helps you to make web and mobile applications and make reality your business apps quickly.' %}</p>
                            <p>by <a href="http://jvacx.com">@jvacx</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'vendor/jquery.js' %}"></script>
        <script src="{% static 'js/semantic.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>
        {% if not DEBUG %}
            {% include "partials/analytics.html" %}
        {% endif %}
    </body>
</html>