{% extends "layouts/base_fixed.html" %}
{% load i18n static %}

{% block title %}
{% trans 'Dashboard' %}
{% endblock %}

{% block heading %}
    <div class="app-heading app-heading-bordered app-heading-page">
        <div class="icon icon-lg">
            <span class="icon-rocket"></span>
        </div>
        <div class="title">
            <h1>{% trans 'Panel de Control'%}</h1>
            <p>{% trans 'Actividad'%}</p>
        </div>
    </div>
{% endblock %}

{% block container %}

{% endblock %}